{% extends 'base.html' %} {% block content %}
<div class="navbar-container">
  <nav class="navbar">
    <a href="#contact" class="contact-link-top">Contact Me</a>
    <a href="{{url_for('index')}}" class="contact-link-top">Home</a> 
  </nav>
</div>

<div class="title">&gt; About Spencer</div>


<div class="projects-header"></div>
  <div class="projects-box">
    <div class="projects-inner">
      <div class="project-title">&gt; Work</div>
      <div class="project-info project-link">
        <p style="display:inline">- SoFi Bank</p>
      </div>
      <div class="project-info project-link"><p style="display:inline">- Senior IT Analyst</div>
      <div class="project-info project-link"><p style="display:inline">- 07/22 - Present</div>
      <div class="project-info"><p style="display:inline">- Managing daily IT operations in the Seattle area as well as executive support</div>
      <div class="project-info"><p style="display:inline">- Sourcing, testing, and installing network infrastructure and upgrades</div>
      <div class="project-info"><p style="display:inline">- Creating tools and automation using Python for myself and team</div>
      <div class="project-info"><p>- Sourcing, testing, and installing network infrastructure and upgrades</div>

      <div class="project-info project-link">
        <p style="display:inline">- Amazon Inc</p>
      </div>
      <div class="project-info project-link"><p style="display:inline">- IT Support Engineer</div>
      <div class="project-info project-link"><p style="display:inline">- 06/17 - 07/22</div>
      <div class="project-info"><p style="display:inline">- Supported a hybrid Cisco and commodity network across several distribution centers</div>
      <div class="project-info"><p style="display:inline">- Onboarded and trained new technicians</div>
      <div class="project-info"><p>- Created simple tools using javascript and html to increase personal productivity</div>
  
        <div class="project-info project-link">
          <p style="display:inline">- Apple Inc</p>
        </div>
        <div class="project-info project-link"><p style="display:inline">- AppleCare Training Mentor</div>
        <div class="project-info project-link"><p style="display:inline">- 02/15 - 05/17</div>
        <div class="project-info"><p style="display:inline">- Onboarded and trained new AppleCare hires to support Mac and iOS software issues</div>
        <div class="project-info"><p>- Tracked and maintained new hire metrics</div>

        <div class="project-title">&gt; Skills</div>
        <div class="project-info">
          <p style="display:inline">&gt; Python | Flask | HTML | CSS | Bootstrap | Golang | Bash/ZSH | VirtualBox/VMWare | Linux/Unix | Git | OSI
            Troubleshooting | REST | APIs | SQL | MySQL | NGINX
          </p>


          


    </div>
  </div>
</div>

<div id="contact" class="contact-title">Contact Me!<p>_____</p></a></div>
<div class="contact-link-lower">
  <div><p><a href="https://github.com/smbirch" target="_blank">GitHub</a></p><p><a href="https://www.linkedin.com/in/spencermbirch/" target="_blank">Linkedin</a></p><p><a href="mailto:spencermbirch@gmail.com">Email</a></p></div>
</div>
<div class="footer">smbirch - 2023</div>
{% endblock %}

