{% extends 'base.html' %} {% block content %}
<div class="navbar-container">
  <nav class="navbar">
    <a href="mailto:spencermbirch@gmail.com" class="contact-link">Contact Me</a>
  </nav>
</div>

<div class="title">&gt; Spencer Birch</div>
<div class="about">
  <div class="about-inner">
    I am an IT professional and like to play with code on the side. Check out my
    <a href="https://github.com/smbirch/">Github</a> or see my projects below!
  </div>
</div>
<div class="projects-header"></div>
  <div class="projects-box">
    <div class="projects-inner">
      <div class="project-title">&gt; Pokepy</div>
      <div class="project-info">
        <a href="https://pokepy.smbirch.com/" class="project-link" target="_blank"
          >- Live project</a
        >
      </div>
      <div class="project-info">
        <a
          href="https://github.com/smbirch/pokepy_flask"
          class="project-link"
          target="_blank"
          >- Github</a
        >
      </div>
      <div class="project-info"><p>- This project utilizes the PokeAPI and SQLIte to implement a lightly featured Pokedex on the web! Register (no email neccesary) or sign in to add and remove Pokemon from your team or create random teams. Hosted with Digital Ocean on Linux.</div>

      <div class="project-title">&gt; My_Wedding</div>
      <div class="project-info">
        <a href="https://www.birchwedding.info" class="project-link" target="_blank"
          >- Live project</a
        >
      </div>
      <div class="project-info">
        <a
          href="https://github.com/smbirch/weddingsite"
          class="project-link"
          target="_blank"
          >- Github</a
        >
      </div>
      <div class="project-info"><p>- A website I made for my actual wedding, hosted with Digital Ocean and made with Flask. See info about the event and fill out the form to email me an RSVP.</p></div>
    </div>
  </div>
</div>

<div class="contact-title">Contact Me!</div>
<div class="contact">spencermbirch@gmail.com</div>

  {% endblock %}

