{% extends 'base.html' %} {% block content %}
<div class="navbar-container">
  <nav class="navbar">
    <a href="#contact" class="contact-link-top">Contact Me</a>
    <a href="{{url_for('about')}}" class="contact-link-top">About</a> 
  </nav>
</div>

<div class="title">&gt; Spencer Birch</div>
<div class="about">
  <div class="about-inner">
    I work in IT and like to play with code. Check out my
    <a href="https://github.com/smbirch/">Github</a> or see my projects below!
  </div>
</div>

<div class="projects-header"></div>
  <div class="projects-box">
    <div class="projects-inner">
      <div class="project-title">&gt; Pokepy</div>
      <div class="project-info">
        <a href="https://www.pokepy.smbirch.com/" class="project-link" target="_blank"
          >- Live project</a
        >
      </div>
      <div class="project-info">
        <a
          href="https://github.com/smbirch/pokepy_flask"
          class="project-link"
          target="_blank"
          >- Github</a
        >
      </div>
      <div class="project-info"><p>- This project utilizes the PokeAPI, Flask, and SQLIte to implement a lightly featured Pokedex on the web! Register (no email neccesary) or sign in to add and remove Pokemon from your team or to create a random team. Hosted with Digital Ocean on Linux.</div>

      <div class="project-title">&gt; My_Wedding</div>
      <div class="project-info">
        <a href="https://www.birchwedding.info" class="project-link" target="_blank"
          >- Live project</a
        >
      </div>
      <div class="project-info">
        <a
          href="https://github.com/smbirch/weddingsite"
          class="project-link"
          target="_blank"
          >- Github</a
        >
      </div>
      <div class="project-info"><p>- A website I made for my actual wedding, hosted with Digital Ocean and made with Flask. See info about the event and fill out the form to email me an RSVP.</p></div>
      
      <div class="project-title">&gt; GoChat</div>
      <div class="project-info">
        <a
          href="https://github.com/smbirch/gochat"
          class="project-link"
          target="_blank"
          >- Github</a
        >
      </div>
      <div class="project-info"><p>- A  Golang WebSocket server for chatting with your friends with simple styling.</div>

        <div class="project-title">&gt; StatusCheck</div>
        <div class="project-info">
          <a
            href="https://github.com/smbirch/statuscheck"
            class="project-link"
            target="_blank"
            >- Github</a
          >
        </div>
        <div class="project-info"><p>- A  Golang CLI application for testing status of different websites. Now with concurrency!</div>
    </div>
  </div>
</div>

<div id="contact" class="contact-title">Contact Me!<p>_____</p></a></div>
<div class="contact-link-lower">
  <div><p><a href="https://github.com/smbirch" target="_blank">GitHub</a></p><p><a href="https://www.linkedin.com/in/spencermbirch/" target="_blank">Linkedin</a></p><p><a href="mailto:spencermbirch@gmail.com">Email</a></p></div>
</div>
<div class="footer">smbirch - 2023</div>
{% endblock %}

